.DS_Store
node_modules/
.idea/
.git/
dist/
npm-debug.log
selenium-debug.log
test/unit/coverage
test/e2e/reports
config/index.js
src/myhello.js
src/plugs/lib/sdk-demo.js
___src1/
___src2/
___src3/
__src/
__src__/

src/main.js
dist.tar
#src/views/nifty/main.vue